    <h2>
        Estudiantes inscritos al curso con id {{cursoID}}:
    </h2>
    {{#with (desincribirUsuario cursoID usuarioCedula)}}
    <div>
        <table>
            <tr>
                <th>Nombre</th>
                <th>Cedula</th>
                <th>Correo</th>
                <th>Telefono</th>

            </tr>
            {{#each this}}
            <tr>
                <th>{{this.nombre}}</th>
                <th>{{this.cedula}}</th>
                <th>{{this.correo}}</th>
                <th>{{this.telefono}}</th>
            </tr>
            {{/each}}
        </table>
    </div>
    {{/with}}